.row
  .large-12.columns
    %p
      Congratulations, you just registered successfully for the AUBG MultiTalent Quest!
    %div
      %br/
    %p
      You are almost done with the First Round! One last thing to do is to complete our Intermediate-level English online test.
    %ul
      %li
        %p
          Between February 1st and 5th 2017, you’ll receive an e-mail with a password and detailed instructions how to take the test online.
      %li
        %p
          You’ll need to complete the online test by February 10th. Please plan accordingly.
      %li
        %p
          The test will consist of 50 multiple-choice questions on Elementary to Upper-intermediate grammar.
      %li
        %p
          You’ll have to do the test within 45 minutes.
    %div
      %br/
    %p
      = link_to  "Tips and tricks for the Intermediate-level English Online Test" , frontend_rules_path