= content_for :sidebar do
  = render 'frontend/shared/conference_sidebar_items'
= content_for :sidebar_title do
  Conference Menu
.row.full-width.page-bgimage{:id => 'rules-page-bg'}
  %h2.conference-heading
    Rules for Round 2
-if @page.content1
  .row
    .large-12.columns
      = @page.content1.html_safe
-else @page.content1
