.row
  %h4{:style => "text-align: center;"}
    =@video.title
  %h5.subheader{:style => "text-align: center;"}
    =@video.published_at.strftime('%a %d %b %Y')
.row
  .flex-video{:style => "align: center;"}
    =@video.embed_html.html_safe
